#intro{
    background: url(../assets/Background_Intro.png) lightgray 50% / cover no-repeat;
    color: white;
    padding: 120px 163px 57px;

    .arrowDown{
        text-align: center;
    }
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;

    .user img:nth-child(1){
        width: 87px;
        height: 87px;
        border-radius: 50%;
        border: 2px solid var(--main-red);
    }
    .user img:nth-child(2){
        width: 32px;
        height: 32px;
        position: relative;
        right: 35px;
        top: 10px;
    }
    
    .user-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        p{
            color: var(--base-gray500);
            font-family: Inconsolata;
            font-size: 20px;
            line-height: 120%;

            .destaque{
                color: var(--main-red);
                font-family: Inconsolata;
                font-size: 20px;
                line-height: 120%;
            }
        }

        h1{
            color: var(--base-gray600);
            font-family: Asap;
            font-size: 56px;
            font-weight: 700;
            line-height: 120%;
        }

        span{
            color: var(--base-gray400);
            font-family: "Maven Pro";
            font-size: 14px;
            line-height: 140%;
        }

    }
    
}
.techs{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 80px 0 94px;

    .tech-card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 24px;
        background: var(--base-gray300);
    }
}
